/* Container styling */
.auth {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Logo styling */
.login_logo {
  width: 100px;
  margin-bottom: 20px;
}

/* Form container styling */
.login_container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid red;
  padding: 20px;
  width: 300px;
  height: fit-content;
  max-width: 80%;
}

.login_container > h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: red;
  text-align: center;
}

/* Form element styling */
.form > h5 {
  margin-bottom: 5px;
}

.form > input {
  height: 20px;
  background-color: white;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.login_signInButton {
  height: 20px;
  margin-top: 10px;
  width: 100%;
  background-color: rgb(241, 238, 238);
  color: black;
  border: none;
  cursor: pointer;
}

.login_signInButton:hover {
  background-color: lightgray;
}

.successMessage {
  color: green;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.backToLogin {
  margin-top: 15px;
  text-align: center;
}

.backToLogin a {
  color: red;
  text-decoration: none;
}

.backToLogin a:hover {
  text-decoration: underline;
}

/* Responsive design for tablet-sized screens */
@media only screen and (max-width: 600px) {
  .login_container {
    width: 50%;
    max-width: 350px;
    padding: 10px;
  }

  .form > input,
  .login_signInButton {
    width: 100%;
  }
}

/* Responsive design for phone-sized screens */
@media only screen and (max-width: 350px) {
  .auth {
    padding: 50px;
  }

  .login_container {
    width: 90%;
    max-width: 300px;
    padding: 10px;
    border: 0.9px solid red;
  }

  .form > input,
  .login_signInButton {
    width: 100%;
    height: 20px;
    font-size: 15px;
  }

  .login_logo {
    width: 85px;
  }

  .login_container > h1 {
    font-size: 19px;
  }
}
